<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/colonies?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    
    <!-- Create/update tables -->
    <property name="hibernate.hbm2ddl.auto">update</property>
    
    
    <mapping class="org.samcrow.colonydata.Colony" />
    <mapping class="org.samcrow.colonydata.ColonyID" />
    <mapping class="org.samcrow.colonydata.ColonyPosition" />
    <mapping class="org.samcrow.colonydata.ColonyNote" />
    <mapping class="org.samcrow.colonydata.experiments.Experiment" />
    <mapping class="org.samcrow.colonydata.experiments.Census" />
    <mapping class="org.samcrow.colonydata.experiments.MarkedAntRecordingExperiment" />
    <mapping class="org.samcrow.colonydata.experiments.ExperimentResult" />
    <mapping class="org.samcrow.colonydata.experiments.CensusColonyState" />
  </session-factory>
</hibernate-configuration>
